* {
   box-sizing: border-box;
   padding: 0;
   margin: 0 auto;
}

body {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #2C539C;
}

input {
   border: none;
   outline: none;
   border-bottom: 2px solid rgb(54, 51, 51);
}

.row {
   display: flex;
   justify-content: center;
   align-items: center;
}

h1 {
   width: 100%;
   background: #000;
   color: #fff;
   text-align: center;
}

form {
   width: 500px !important;
   background: #fff;
   padding: 0 !important;
}

.email {
   padding: .7rem 3rem;
}

.email input {
   width: 80%;
   margin-left: 1rem;
}

.checkbox {
   padding: .3rem 4rem;
}

#checkbox {
   margin-right: 10px;
}

.button {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: .7rem 4rem;
}